@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/font/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/assets/font/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/assets/font/Poppins/Poppins-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/assets/font/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/assets/font/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/assets/font/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/assets/font/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/assets/font/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

* {
  font-family: "Poppins";
  font-size: 0.95rem;
}

.doodleBgBlack {
  background-color: #121212;
  background-image: url("../public/assets/images/doodlebg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.doodleBgPink {
  background-color: #e9c0e9;
  background-image: url("../public/assets/images/doodlebg-black.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.doodleBgWhite {
  background-color: rgba(250, 250, 250, 0.5);
  background-image: url("../public/assets/images/doodlebg-black.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.doodleBgPlainWhite {
  background-color: #fff;
  background-image: url("../public/assets/images/doodlebg-black.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.doodleBgBlueBlack {
  background-color: #1e2330;
  background-image: url("../public/assets/images/doodlebg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
